body {
  background-color: aqua;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  height: 400px;
  width: 400px;
  margin: 9% auto;
  background-color: white;
  border-radius: 10px;
}

ul li {
  margin-left: 50px;
}

ul li span {
  font-weight: bold;
}

hr {
  border: 1px solid black;
  width: 300px;
}
